.vs
Tema1.sln
Tema1/Tema1/x64
Tema1/x64
Tema1/Tema1/Tema1.vcxproj
Tema1/Tema1/Tema1.vcxproj.filters
Tema1/Tema1/Tema1.vcxproj.user
Tema2.sln
Tema2/Tema2/x64
Tema2/x64
Tema2/Tema2/Tema2.vcxproj
Tema2/Tema2/Tema2.vcxproj.filters
Tema2/Tema2/Tema2.vcxproj.user